# Goals 

In this module, you will learn:

1. Some common data structures in Python: list, array, tuple, dictionary and their properties

2. Access the elements of these data structures, do operations on the items

# Tasks

There are seven small tasks to guide you through the study, please spend some time to work on these tasks. I will upload the answers to these tasks to my Github after the tutorial

# List

List allows you to store element of different data types, list items are ordered, mutable(add or remove items), items don't need to be unique, can be nested inside another list

In [23]:
my_num_list = [1, 2, 3, 4]
my_string_list = ['hello','world']
my_mixed_list = [1, 2, 'hello']

In [11]:
print(my_num_list)

[1, 2, 3, 4]

## Task 1: Print each item in the list<b> 
    
    hint: for item in list, print item

<b> The 'for' loop, print 1 to 9 with a forloop

In [1]:
for i in range(0, 10):
        print(i)

0
1
2
3
4
5
6
7
8
9

## Task 2: Count 1 to 10 with the for loop

## Task 3: Access items in a list
    
    hint: the list is ordered

'hello'

## Remove an item from list
    
    hint: remove(item)

[1, 3, 4]

## Task 4: find out what they do and write an example: 
    
    insert(), count(), sort(), append()

# Concatenate strings

In [39]:
str1 = 'hello'
str2 = 'world'
print (str1 + ' ' + str2)

hello world

## Task 5: concatenate a string 'year' to each item of a list
    
    new list should look like [1990_year, 2001_year, 2022_year]
    
    hint: create a new list, concatenate each item and append the item to the new list
    
    you can only concatenate a string with a string!

In [42]:
year_list = [1990, 2001, 2022]

# Array
    
similar to a list, but you can only store the same data type (Numpy array supports different data types!)

In [112]:
arr = [1,2,3,4,5]

In [107]:
arr2='abcd'

## Task 6: add 1 to each item in an array

you need to create an empty array and append the operated item to this new array

[2, 3, 4, 5, 6]

# Tuple 
    
Unlike lists, Pythonâ€™s tuple objects are immutable. Tuples are another data structure that can hold elements of arbitrary data types.

In [57]:
tup = ("one", "two", "three")

In [58]:
tup[0]

'one'

In [59]:
del tup[0]

TypeError: 'tuple' object doesn't support item deletion

#  Dictionary 

    This is a very important data type for natural language processing!
    
    Dictionary items are ordered, changeable, and does not allow duplicates.

    Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [63]:
car_dict = {
  "brand": "Toyota",
  "model": "Corolla",
  "year": 2021
}

In [64]:
print(car_dict)

{'brand': 'Toyota', 'model': 'Corolla', 'year': 2021}

In [65]:
print(car_dict.keys())

dict_keys(['brand', 'model', 'year'])

In [67]:
print(car_dict['brand'])

Toyota

## Append elements to dictionary

In [83]:
car_dict['username'] = 'Lucia'
print(car_dict)

{'brand': 'Toyota', 'model': 'Corolla', 'year': 2021, 'username': 'Lucia'}

In [80]:
print(cars_dict)

{'brand': ['Toyota', 'Honda'], 'model': ['Corolla', 'Civic'], 'year': [2021, 2022]}

## Nested Dictionary

In [101]:
tweet_dict = {
  1: {"userid": "000234",
  "Tweet": "That strange moment when someone reminds the teacher about the homework."},
  2: {"userid": "002214",
  "Tweet": "I get nervous when I see others studying so much before the test."},     
}

In [85]:
print(tweet_dict)

{1: {'userid': '000234', 'Tweet': 'That strange moment when someone reminds the teacher about the homework.'}, 2: {'userid': '002214', 'Tweet': ' I get nervous when I see others studying so much before the test.'}}

## Task 7:  Split the words in each tweet 

result should look like:

['That', 'strange', 'moment', 'when', 'someone', 'reminds', 'the', 'teacher', 'about', 'the', 'homework.']

hint: 

dictionary items are presented in key:value pairs, the for loop should look like:

for key, value in dictionary items: do sth

call string.split("separator") The separator can be space, comma or any symbol

['That', 'strange', 'moment', 'when', 'someone', 'reminds', 'the', 'teacher', 'about', 'the', 'homework.']
['I', 'get', 'nervous', 'when', 'I', 'see', 'others', 'studying', 'so', 'much', 'before', 'the', 'test.']